<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Регистрация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="blocks/links :: bootstrap">
    <link th:replace="blocks/links :: icons">
    <style th:replace="blocks/styles :: form"></style>
</head>
<body class="bg-light">
<main>
    <form class="col-md-12 col-lg-12 justify-content-md-center align-items-center shadow bg-body rounded"
          method="post" action="/registration"
          th:object="${user}">
        <h4 class="mb-3">Регистрация</h4>
        <hr>
        <div class="row align-items-center">
            <input type="hidden"
                   th:field="*{role}">
            <div class="col-6 mb-2">
                <label class="sr-only" for="login">Логин</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">badge</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="login" placeholder="employee123"
                           th:field="*{login}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('login')}"
                      th:errors="*{login}"></span>
            </div>
            <div class="col-6 mb-2">
                <label class="sr-only" for="password">Пароль</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">password</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="password" placeholder="123Security123"
                           th:field="*{password}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}"></span>
            </div>
            <div class="col-12 mb-2">
                <label class="sr-only" for="firstName">Имя сотрудника</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">person</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="firstName" placeholder="Иван"
                           th:field="*{firstName}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}"></span>
            </div>
            <div class="col-12 mb-2">
                <label class="sr-only" for="lastName">Фамилия</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">person</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="lastName" placeholder="Иванов"
                           th:field="*{lastName}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}"></span>
            </div>
            <div class="col-12 mb-4">
                <label class="sr-only" for="middleName">Отчество</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">person</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="middleName" placeholder="Иванович"
                           th:field="*{middleName}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('middleName')}"
                      th:errors="*{middleName}"></span>
            </div>
            <div class="col-12 mb-2">
                <a href="/login" class="btn btn-outline-primary w-100" role="button">
                    Уже есть профиль?
                </a>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100">
                    Зарегистрироваться
                </button>
            </div>
        </div>
    </form>
</main>
</body>
</html>