<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Добавление товара</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="blocks/links :: bootstrap"/>
    <link th:replace="blocks/links :: icons"/>
    <style th:replace="blocks/styles :: form"></style>
</head>
<body class="bg-light">
<div th:replace="blocks/headers :: manager-header(active='products')"></div>
<main>
    <form class="col-md-12 col-lg-12 justify-content-md-center align-items-center shadow bg-body rounded"
          method="post"
          th:action="'/manager/products/' + ${id != null ? 'edit/' + id : 'add'}"
          th:object="${product}">
        <h4 class="mb-3" th:text="${id != null ? 'Изменение товара' : 'Новый товар'}"></h4>
        <hr>
        <div class="row align-items-center">
            <div class="col-12 mb-2">
                <label class="sr-only" for="title">Название товара</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">manage_search</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="title" placeholder="Кепка Z"
                           th:field="*{title}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}"></span>
            </div>
            <div class="col-12 mb-2">
                <label class="sr-only" for="description">Описание товара</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">description</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="description" placeholder="Это черная кепка"
                           th:field="*{description}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('description')}"
                      th:errors="*{description}"></span>
            </div>
            <div class="col-6 mb-2">
                <label class="sr-only" for="price">Стоимость товара (руб.)</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">payments</span>
                        </div>
                    </div>
                    <input type="number" class="form-control" id="price" placeholder="299"
                           th:field="*{price}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('price')}"
                      th:errors="*{price}"></span>
            </div>
            <div class="col-6 mb-2">
                <label class="sr-only" for="oldPrice">Старая стоимость товара (руб.)</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">payments</span>
                        </div>
                    </div>
                    <input type="number" class="form-control" id="oldPrice" placeholder="999"
                           th:field="*{oldPrice}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('oldPrice')}"
                      th:errors="*{oldPrice}"></span>
            </div>
            <div class="col-12 mb-4">
                <label class="sr-only" for="category">Категория</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">work</span>
                        </div>
                    </div>
                    <select id="category" class="form-select"
                            th:field="*{categoryId}">
                        <option th:value="${null}">Выберите...</option>
                        <option th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.displayName}"></option>
                    </select>
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('categoryId')}"
                      th:errors="*{categoryId}"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100"
                        th:text="${id != null ? 'Сохранить' : 'Добавить'}"></button>
            </div>
        </div>
    </form>
</main>
</body>
</html>