<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Категории товара</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="blocks/links :: bootstrap"/>
</head>
<body>
<div th:replace="blocks/headers :: manager-header(active='categories')"></div>
<div class="container">
    <div class="row">
        <form action="/manager/categories" method="get"
              class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control" placeholder="Поиск категории" aria-label="Search"
                   name="query" th:value="${query}">
        </form>
        <form action="/manager/categories/add" method="get"
              class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <button type="submit" class="btn btn-primary">Добавить категорию</button>
        </form>
    </div>
    <div class="sr-only my-4" style="color: #dc3545">
        Важно! При удалении категории, товары, привязанные к данной категории, тоже
        будут удалены.
    </div>
    <div th:if="${query != null}" class="text-center mt-5">
        <h3 th:text="'Результаты поиска по запросу \'' + ${query} + '\''"></h3>
    </div>
    <hr>
    <div th:if="${models.isEmpty()}" class="text-center">
        <h3>Категории отсутствуют</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4" th:each="category : ${models}">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title" th:text="${category.first.displayName}"></h5>
                    <p class="card-text flex-grow-1" style="white-space: pre-line"
                       th:text="'Товаров: ' + ${category.second} + ' шт.'"></p>
                    <hr>
                    <div class="row row-cols-2 flex-row-reverse">
                        <form class="col-auto"
                              th:action="'/manager/categories/delete/' + ${category.first.id}" method="post">
                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                        </form>
                        <form class="col-auto"
                              th:action="'/manager/categories/edit/' + ${category.first.id}" method="get">
                            <button type="submit" class="btn btn-outline-primary">Изменить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>