<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Добавление сотрудника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="blocks/links :: bootstrap"/>
    <link th:replace="blocks/links :: icons"/>
    <style>
        html, body, main {
            height: 100%;
        }

        body {
            display: flex;
            flex-flow: column;
        }

        main {
            display: flex;
            align-items: center;
            flex: 1 1 auto;
        }

        main > form {
            width: 100%;
            max-width: 330px;
            padding: 30px;
            margin: auto;
            border-radius: 20px;
            background-color: #6c757d;
        }

        .input-group-text {
            width: 40px;
            height: 40px;
            justify-content: center;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    </style>
</head>
<body class="bg-light">
<div th:replace="blocks/headers :: hr-header(active='employees')"></div>
<main>
    <form class="col-md-12 col-lg-12 justify-content-md-center align-items-center shadow bg-body rounded"
          method="post"
          th:action="'/employees/' + ${id != null ? 'edit/' + id : 'add'}"
          th:object="${employee}">
        <h4 class="mb-3" th:text="${id != null ? 'Изменение сотрудника' : 'Новый сотрудник'}"></h4>
        <hr>
        <div class="form-row align-items-center">
            <input type="hidden" th:field="*{user.id}">
            <div class="col-auto mb-2" th:object="${employee.user}">
                <label class="sr-only" for="login">Логин пользователя</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">badge</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="login" placeholder="employee123"
                           th:field="*{login}" th:attr="readonly=${id != null}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('login')}"
                      th:errors="*{login}"></span>
            </div>
            <div class="col-auto mb-2" th:object="${employee.user}">
                <label class="sr-only" for="password">Пароль пользователя</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">password</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="password" placeholder="123Security123"
                           th:field="*{password}" th:attr="readonly=${id != null}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}"></span>
            </div>
            <div class="col-auto mb-2">
                <label class="sr-only" for="firstName">Имя сотрудника</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">person</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="firstName" placeholder="Иван"
                           th:field="*{firstName}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}"></span>
            </div>
            <div class="col-auto mb-2">
                <label class="sr-only" for="lastName">Фамилия сотрудника</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">person</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="lastName" placeholder="Иванов"
                           th:field="*{lastName}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}"></span>
            </div>
            <div class="col-auto mb-2">
                <label class="sr-only" for="middleName">Отчество сотрудника</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">person</span>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="middleName" placeholder="Иванович"
                           th:field="*{middleName}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('middleName')}"
                      th:errors="*{middleName}"></span>
            </div>
            <div class="col-auto mb-2">
                <label class="sr-only" for="dateOfBirth">Дата рождения сотрудника</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">calendar_month</span>
                        </div>
                    </div>
                    <input type="date" class="form-control" id="dateOfBirth" placeholder="01.01.1999"
                           th:field="*{dateOfBirth}">
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('dateOfBirth')}"
                      th:errors="*{dateOfBirth}"></span>
            </div>
            <div class="col-auto mb-4">
                <label class="sr-only" for="position">Должность сотрудника</label>
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="material-icons">work</span>
                        </div>
                    </div>
                    <select id="position" class="form-select"
                            th:field="*{position}">
                        <option th:value="${null}" selected>Выберите...</option>
                        <option th:each="position : ${positions}"
                                th:value="${position.id}"
                                th:text="${position.title}"></option>
                    </select>
                </div>
                <span class="sr-only" style="color: #dc3545"
                      th:if="${#fields.hasErrors('position')}"
                      th:errors="*{position}"></span>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary w-100"
                        th:text="${id != null ? 'Сохранить' : 'Добавить'}"></button>
            </div>
        </div>
    </form>
</main>
</body>
</html>