<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Сотрудники</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="links :: bootstrap"/>
</head>
<body>
<div class="container" th:fragment="hr-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 me-md-0 text-dark text-decoration-none">
            <span class="fs-4">SouvenirStore</span>
        </a>

        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a href="/hr/employees" class="nav-link"
                   th:classappend="${active == 'employees' ? 'active' : ''}">
                    Сотрудники
                </a>
            </li>
            <li class="nav-item">
                <a href="/hr/positions" class="nav-link"
                   th:classappend="${active == 'positions' ? 'active' : ''}">
                    Должности
                </a>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="/logout" role="button">
                Выход
            </a>
        </div>
    </header>
</div>
<div class="container" th:fragment="stockman-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 me-md-0 text-dark text-decoration-none">
            <span class="fs-4">SouvenirStore</span>
        </a>

        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a href="/stockman/orders/waiting" class="nav-link"
                   th:classappend="${active == 'waiting-orders' ? 'active' : ''}">
                    Новые заказы
                </a>
            </li>
            <li class="nav-item">
                <a href="/stockman/orders/prepared" class="nav-link"
                   th:classappend="${active == 'prepared-orders' ? 'active' : ''}">
                    Подготовленные заказы
                </a>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="/logout" role="button">
                Выход
            </a>
        </div>
    </header>
</div>
<div class="container" th:fragment="cashier-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 me-md-0 text-dark text-decoration-none">
            <span class="fs-4">SouvenirStore</span>
        </a>

        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a href="/cashier/pickup" class="nav-link"
                   th:classappend="${active == 'pickup' ? 'active' : ''}">
                    Выдача заказа
                </a>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="/logout" role="button">
                Выход
            </a>
        </div>
    </header>
</div>
<div class="container" th:fragment="manager-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 me-md-0 text-dark text-decoration-none">
            <span class="fs-4">SouvenirStore</span>
        </a>

        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a href="/manager/categories" class="nav-link"
                   th:classappend="${active == 'categories' ? 'active' : ''}">
                    Категории
                </a>
            </li>
            <li class="nav-item">
                <a href="/manager/products" class="nav-link"
                   th:classappend="${active == 'products' ? 'active' : ''}">
                    Товары
                </a>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="/logout" role="button">
                Выход
            </a>
        </div>
    </header>
</div>
<div class="container" th:fragment="accountant-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 me-md-0 text-dark text-decoration-none">
            <span class="fs-4">SouvenirStore</span>
        </a>

        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a href="/accountant/records" class="nav-link"
                   th:classappend="${active == 'records' ? 'active' : ''}">
                    Отчеты
                </a>
            </li>
            <li class="nav-item">
                <a href="/accountant/statistics" class="nav-link"
                   th:classappend="${active == 'statistics' ? 'active' : ''}">
                    Статистика
                </a>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="/logout" role="button">
                Выход
            </a>
        </div>
    </header>
</div>
<div class="container" th:fragment="director-header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 me-md-0 text-dark text-decoration-none">
            <span class="fs-4">SouvenirStore</span>
        </a>

        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="/logout" role="button">
                Выход
            </a>
        </div>
    </header>
</div>
</body>
</html>